body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #3d6b5f;
}
/*navbar*/
.nav-container {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #3d6b5f;
}
.main-logo{
  color: #E2F504;
}
.content{
  width: 80%;
  min-width: 800px;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

}

.navbar-logo {
  justify-self: start;
  margin: 20px 40px;
  color: #fff;
  margin-top: 4vh;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.addLogo{
  width: 20px;
}

.ver-carrito img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin-right: 20px;
  margin-top: 3.5vh;
  cursor: pointer;
}


/*product cards*/
.shop-content{
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-left: auto;
  margin-right: auto;
  place-content: center;
  gap: 50px;
  background-image: url('../images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 10px;
  display: grid;
  place-content: center;
}

.card-img-top{
  width: 300px;
  height: 250px;
  margin: auto;
  border-radius: 7px;
  box-shadow: 2px 2px 10px #000;
}
.card-body{
  height: auto;
  min-height: 200px;
}
.card-title{
  color: #fff ;
}
.card-description{
  color: #fff;
  min-height: 100px;
}

.card-text{
  color: #fff;
}
.card-text span{
  font-weight: 700;
  color: #fff;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*modal content*/
.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: #fff;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%;
}

.modal-header-title {
  justify-self: start;
}

.modal-header-button {
  cursor: pointer;
}

.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

/*se agregaron unas lineas de css con media querys para que se adapte mejor al responsive :)*/

@media only screen and (max-width: 750px) {
  .modal-container {
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }

  .modal-container > .modal-content {
    justify-content: space-between;
    width: 100%;
    margin: 2px;
  }

  .modal-container > div > img {
    height: 80px;
    width: 80px;
  }
}

/*delete button product*/
.delete-product {
  cursor: pointer;
}

/*CarritoCounter*/
.cantidad-carrito {
  background-color:#E2F504;
  color: #000;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}

.sumar {
  cursor: pointer;
}

.restar {
  cursor: pointer;
}

/* promosCards*/

.titleNextCourses{
  text-align: center;
  color: #fff;
}
.container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 20px;
}